
<!DOCTYPE html>
<html lang="fr">
    <body>
        <h1>Hi</h1>
<template>
    <div>
      <h2>Sign Up</h2>
      {{ email }} {{ password }}
      <p><input type="text" placeholder="Email" v-model="email" /></p>
      <p><input type="password" placeholder="Password" v-model="password" /></p>
      <p class="error-message">The password must be at least 6 characters</p>
    </div>
  </template>
  
  <script>
    export default {
      data() {
        return {
          email: '',
          password: '',
        }
      },
    }
  </script>

</body>

</html>